html {
  height: 100%;
  font-size: 14px;
}

body {
  height: 100%;
  color: #222;
  background-color: #fff;
}

.header {
  padding-bottom: 30px;
  box-sizing: border-box;
}

/* @media (max-width: 742px) {
  .header .header_inner {
      width: auto;
      margin: 0 40px;
  }
} */

.header .header-inner {
  position: relative;
  width: 700px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.header .header-inner .logo {
  display: inline-block;
  /* margin-top: 50px; */
  vertical-align: top;
  background-position: center;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  cursor: pointer;
  background-image: url("images/logo_login.png");
  background-size: contain;
}

.login-wrap {
  box-sizing: border-box;
  width: 560px;
  margin: 0 auto;
}

form {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  font-family: -apple-system, BlinkMacSystemFont, helvetica, "Apple SD Gothic Neo", sans-serif;
  display: block;
  margin-top: 0em;
  unicode-bidi: isolate;
}

.form-inner {
  position: relative;
  z-index: 3;
  margin-top: -8px;
  border: 4px solid #c6c6c6;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 5px 8px 0 rgba(68,68,68,.04);
  padding: 25px 30px;
}

.id-pw-wrap {
  position: relative;
  height: 100%;
  letter-spacing: -.5px;
  margin: 10px 10px 30px;
}

.id-pw-wrap .form-group:first-child {
  border-radius: 6px 6px 0 0;
  box-shadow: none;
}

.id-pw-wrap .form-group {
  margin: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 14px 17px 13px;
  box-sizing: border-box;
}

.form-group {
  position: relative;
  display: block;
  height: 100%;
  border: 1px solid #dadada;
  padding: 3px;
  border-radius: 6px;
  box-sizing: border-box;
  text-align: left;
  box-shadow: 0 2px 6px 0 rgba(68,68,68,.08);
}

.form-group .icon-cell {
  display: table-cell;
  width: 30px;
  vertical-align: middle;
}

.form-control {
  position: relative;
  display: table-cell;
  padding-right: 30px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -.5px;
  color: #222;
  box-sizing: border-box;
  z-index: 4;
}

.form-group input {
  border-radius: 0;
  border: none;
  background: 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-text-size-adjust: none;
  text-indent: 10px;
}

.id-pw-wrap .form-group .icon-cell .icon-pw {
  background-position: 1px center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

/* input::-webkit-input-placeholder{
  background-image: url("images/icon_face.png");
  background-size: contain;
  background-position:  1px center;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: 30px;
} */

.id-pw-wrap .form-group .icon-cell .icon-id, .id-pw-wrap .form-group .icon-cell .icon-pw {
  position: absolute;
  top: 25%;
  left: 17px;
  /* margin-top: -8px; */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}

.form-group .icon-cell .icon-id {
  background-image: url("images/icon_person.png");
}

.form-group .icon-cell .icon-pw {
  background-image: url("images/icon_lock.png");
}

.btn-delete {
  position: absolute;
  top: 6px;
  right: 8px;
  width: 35px;
  height: 35px;
  z-index: 5;
  background-color: #fff;
}

.icon_delete {
  background-image: url("images/icon_cancel.png");
  background-size: 266px 225px;
  display: inline-block;
  margin: 8px 0 0 8px;
  background-position: -244px -187px;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

.form-check {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  margin-top:10px;
}